.vscode/
.github/
build
*.biprivatekey
*.log
*.pbo
*.pbo.bak
*.bat
AntistasiBuilder.cfg

#Ignore mission files that have been copied to A3-Antistasi
A3-Antistasi/description.ext
A3-Antistasi/mission.sqm
A3-Antistasi/roadsDB*.sqf
A3-Antistasi/PIC.jpg
A3-Antistasi/ak.jpg
A3-Antistasi/Navigation/
A3-Antistasi/Pictures/Mission/

#Ignore packaged missions
PreparedMissions/

#Ignore test templates
Map-Templates/Antistasi-TEST-**
